<div id="loginPopup">
    <div class="form-popup" id="popupForm">
      <form action="" method="POST" class="form-container">
        <h2>Write review</h2>
        <label for="author">Author: </label><br>
        <input type="text" name="author"><br>
        <label for="title">Title: </label><br>
        <input type="text" name="title"><br>
        <label for="review">Review: </label><br>
        <textarea name="review" cols="50" rows="5"></textarea><br>
        <button type="submit">Send review</button><br>
        <button type="button" id="cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
  </div>